{% load static %}

<!DOCTYPE html>
<html lang='es'>
<head>
  <meta charset='utf-8'>
  <style>
   {% block style_css %}{% endblock %}
  </style>
  <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/menu.css' %}" />
</head>
<body>
  <header> 
  	{% block encabezado %}{% endblock %}
  </header>
  <aside class="sidebar">
    <nav class="nav">
      <ul>
        <li><a class= {{active.Inicio}} href='/'>Inicio</h3></li>
        <li><a class= {{active.Equipo}} href='/equipo'>Mi mejor equipo Pokemon</a></li>
        <li><a class= {{active.Lista}} href='/pokemons'>Lista de Pokemon</a></li>
        <li><a class= {{active.Items}} href='/recomendacion_items'>Recomendacion de Pokemon</a></li>
        <li><a class= {{active.Usuarios}} href='/recomendacion_usuarios'>Recomendacion basada en usuario</a></li>
        <li><a class= {{active.Cargar}} href='/cargar'>Cargar.  <strong>AVISO: Se borrar&aacute;n todos los datos</strong></a></li>
      </ul>
    </nav>
  </aside>
  <section>
    {% block contenido %}{% endblock %}
  </section>
  {% block pie %}{% endblock %} 
</body>
</html>