

{% extends 'base.html' %}



{% block encabezado %}
<div class="titulo"><h1> Lista de Pokemon </h1></div>
{% endblock %}

{% block contenido %}
<div class="cuerpo_completo">
	
	<form action="/pokemons/" method="post">{% csrf_token %}
		<label for="palabra">Buscar Pokemon</label>
		<br>
		<input id="palabra" type="text" name="palabra" value="{{ palabra }}">
		
		<br><br>
		
		<input type="submit" value="Buscar">
	</form>

	<br><br>
	<form action="/pokemons/" method="post">{% csrf_token %}
		<label for="tipo_pkm">Tipo</label>
		<br>
		<select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);" id="tipo_pkm" name="tipo_pkm">
		{% for tipo_pkm in lista_tipos %}
			<option value="{{tipo_pkm}}">{{tipo_pkm}}</option>
		{% endfor %}
		</select>
	</form>

	<p>Actualmente tenemos almacenados <strong>{{pokemons|length}}</strong> pokemon: </p>
	<table id="lista_pokemon">
		<tr>
			<th>ID</th>
			<th>Nombre</th>
		</tr>
		{% for pok in page_obj %}
		<tr>
			<td><a href="pokemon/{{pok.id}}">#{{pok.id}}</a></td>
			<td>{{pok.nombre}}</td>
		</tr>
		{% endfor %}
	</table>
	<div class="pagination">
		<span class="step-links">
			{% if page_obj.has_previous %}
				<a href="?page=1">&laquo; Primera</a>
				<a href="?page={{ page_obj.previous_page_number }}">&#8249;</a>
			{% endif %}
	
			<span class="current">
				Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
			</span>
	
			{% if page_obj.has_next %}
				<a href="?page={{ page_obj.next_page_number }}" class="next">&#8250;</a>
				<a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
			{% endif %}
		</span>
	</div>

</div>
{% endblock %}