{% extends 'base.html' %}

{% block encabezado %}
<div class="titulo"><h1> Detalles del Pokemon: {{pokemon.id}} - {{pokemon.nombre|title}}</h1></div>
{% endblock %}

{% block contenido %}
<div style="margin-left:300px;padding:1px 16px;height:1000px;top:80px;position:fixed">
    <img src="{{foto.url}}" width="260" height="240">
    <dd>
        <p><strong>Salud: </strong>
            {{pokemon.salud}}
            <meter min="1" max="255"
             low="50" high="130"
             optimum="200" value="{{pokemon.salud}}"></p>
    </dd>
    <p></p>
    <dd>
        <p><strong>Ataque: </strong>
        {{pokemon.ataque}}
        <meter min="1" max="255"
         low="50" high="130"
         optimum="200" value="{{pokemon.ataque}}">
        </p>
    </dd>
    <dd>
        <p><strong>Defensa: </strong>
        {{pokemon.defensa}}
        <meter min="1" max="255"
         low="50" high="130"
         optimum="200" value="{{pokemon.defensa}}">
        </p>
    </dd>
    <dd>
        <p><strong>Ataque Especial: </strong>
        {{pokemon.ataque_especial}}
        <meter min="1" max="255"
         low="50" high="130"
         optimum="200" value="{{pokemon.ataque_especial}}">
        </p>
    </dd>
    <dd>
        <p><strong>Defensa Especial: </strong>
            {{pokemon.defensa_especial}}
        <meter min="1" max="255"
         low="50" high="130"
         optimum="200" value="{{pokemon.defensa_especial}}">
        </p>
    </dd>
    <dd>
        <p><strong>Velocidad: </strong>
        {{pokemon.velocidad}}
        <meter min="1" max="255"
         low="50" high="130"
         optimum="200" value="{{pokemon.velocidad}}">
        </p>
    </dd>
    <p></p>
    <dd>
    	<h3 style="margin-top: -5px;">Total</h3>
    	<p style="margin-top: -20px;">{{pokemon.total}}</p>
    </dd>
</div>
{% endblock %}

