

{% extends 'base.html' %}

{% block encabezado %}
<div class="titulo"><h1>Recomendador de equipos Pokemon</h1></div>
{% endblock %}


{% block contenido %}
<div class="cuerpo_completo">
<pre>
Este es el recomendador de equipos por gusto (no confundir con el creador de equipos perfectos). En base al equipo de un usuario (deberás introducir su ID),
te recomendaremos un equipo lo más parecido posible al de ese jugador, cambiando algunos pokemon en base a los gustos de los demás usuarios.
</pre>
<form action="/recomendacion_usuarios/" method="post">{% csrf_token %}
    <label for="entrada">ID de usuario (0 - 99.999)</label>
    <br>
    <input id="entrada" type="text" name="entrada" value="{{ entrada }}">
    
    <br><br>
    <input type="submit" value="Calcular">
</form>

<h1>Equipo recomendado</h1>

<table id="lista_pokemon">
    {% for pok in equipo %}
    <tr>
        <td><a href="/pokemons/pokemon/{{pok.id}}"><img src="{{pok.foto_url}}" width="260" height="240"></a></td>
        <td>{{pok.nombre}}</td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}